{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}
{% block monTitre %} Concession Voiture Factory {% endblock %}
{% block body %}
<div class="m-3">
    <p>Bienvenue sur le site de la concession automobile de Voiture Factory</br>
      Ce site vous permet de louer des voitures avec un abonnement mensuel</p>
</div>
<div class="row bg-info m-3 p-2">
    <div class="col-12 text-white text-center">
      <h2>Pour accéder à la liste de véhicules, vous devez vous connecter</h2>
    </div>
</div>
{% endblock %}
